:root {
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #414243;
  }
}

body.dark-mode {
  --bg-color: #414243;
}

body.light-mode {
  --bg-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:scroll;
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

#darkModeToggle {
  position: absolute;
  top:40px;
  right:70px;
}
#downloadDiv {
  position: absolute;
  top:40px;
  right:110px;
}

.flex-container {
  display: flex;
  width:100%;
  flex-direction: row;
}

h1 {
  font-weight:1;
  margin-bottom:0px;
}

h2 {
  font-weight:1;
}

h3 {
  font-weight:1;
  text-decoration: underline;
  margin-top:34px;
  font-style: italic;
}

h4 {
  font-weight:1;
}

.indent {
  margin-left: 3px;
  text-align:justify;
  font-size: 14px;
  line-height: 1.6;
}


.chart-container {
  height: 400px; /* Adjust as needed */
}

.experiences-container {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top:40px;
}

.experience-container {
  width: 180px;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-right:10px;
  margin-bottom:20px;
}

.experience-image {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 40px;
}

.experience-image img {
  width: 100px;
  margin-bottom: 10px;
}

.experience-description {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}

.experience-title {
  font-weight: 550;
}

.experience-dates {
  font-style: italic;
}


@media only screen and (max-width: 5000px) and (min-width: 769px){
  body {
    width:100%;
    margin:0;
    display:flex;
    justify-content:center;
    /* background:#dae1fd; */
    align-items:center;
  }

  .resume-frame {
    margin:80px 0px;
    border: 1px solid #92949d;
    /* border: 2px solid black; */
    width:96%;
    /* background:#fafae5; */
    /* background:#dae1fd; */
    /* background:#e2dcfc; */
    /* background:#f7f5ff; */
    /* background: #dbd5e6; */
    background: #eae4f5;
    max-width: 700px;
    /* padding: 0 3%; */
    box-shadow: 7px 12px #888888;
  }

  .margin {
    margin: 60px 60px;
  }

  .logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logos img {
    width: 100px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:8px;
  }
}


@media only screen and (max-width: 768px) and (min-width: 0px){
  body {
    width:100%;
    margin:0;
    display:flex;
    justify-content:center;
    /* background:#dae1fd; */
    align-items:center;
  }

  .resume-frame {
    margin:80px 0px;
    border: 1px solid #92949d;
    /* border: 2px solid black; */
    width:96%;
    /* background:#fafae5; */
    background:#dae1fd;
    max-width: 700px;
    /* padding: 0 3%; */
    box-shadow: 7px 12px #888888;
  }

  .margin {
    margin: 60px 60px;
  }

  .logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logos img {
    width: 100px;
  }

  .logo-summary {
    margin-top:5px;
    font-size:8px;
  }
}
